#btn{
	    padding-left: 760px;
	
}


.entet{
	background-color: black;
	padding-left: 60px;
    height :90px;
}
div{
	padding: 10px;
	margin:10px;
}

.titre{
	color:white;
}
#txt{
    font-size:23px;
    font-familly : Bahnschrift;
    }
 
#sel{
    left: 60px;
    width: 630px;
    margin-left: 170px
 }
 
 #btn{
    padding-left: 530px; 
}