div{
	padding: 10px;
	margin:10px;
}

.tab{
	padding: 4px;
}

.entet{
	background-color: black;
	padding-left: 60px;
    height :90px;
}

.titre{
	color:white;
}
.btn-ajout{
    padding-left: 1060px;
}

